@import 'tailwindcss';

:root {
  --background: #ffffff;
  --foreground: #171717;
}

html {
  scroll-behavior: smooth;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-samsung-one: var(--font-samsung-one);
  --font-samsung-sharp: var(--font-samsung-sharp);
}

@layer utilities {
  /* Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  /* IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  .font-sharp {
    font-family: var(--font-samsung-sharp), Helvetica, sans-serif;
  }
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family:
    var(--font-samsung-one), var(--font-samsung-sharp), Helvetica, sans-serif;
}

.promotion-coupon-scrollbar,
.outstanding-feature-scrollbar {
  position: relative;
  height: 3px;
  border-radius: 999px;
  background: #8f8f8f;
  display: flex;
  align-items: center;
}

.promotion-coupon-scrollbar::before,
.outstanding-feature-scrollbar::before {
  content: '';
  position: absolute;
  inset: -6px 0;
  cursor: pointer;
}

.promotion-coupon-scrollbar .swiper-scrollbar-drag,
.outstanding-feature-scrollbar .swiper-scrollbar-drag {
  height: 4px;
  border-radius: 999px;
  background: #313131;
  transition: height 0.2s ease;
  cursor: pointer;
}

.promotion-coupon-scrollbar .swiper-scrollbar-drag:hover,
.outstanding-feature-scrollbar .swiper-scrollbar-drag:hover {
  height: 5px;
}

.promotion-coupon-scrollbar .swiper-scrollbar-drag.swiper-scrollbar-dragging,
.promotion-coupon-scrollbar:active .swiper-scrollbar-drag,
.outstanding-feature-scrollbar .swiper-scrollbar-drag.swiper-scrollbar-dragging,
.outstanding-feature-scrollbar:active .swiper-scrollbar-drag {
  height: 5px;
  cursor: pointer;
}

.help-choose-card:has(.help-choose-link:hover) .help-choose-image {
  transform: scale(1.1);
}
